.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f3e5f5; 
  border-radius: 15px; 
}

.app-header {
  background-color:#f3e5f5; 
  color: rgb(51, 4, 70);
  padding: 10px;
  text-align: center;
  border-radius: 15px 15px 0 0; 
  font-weight: bold;
}

.app-main {
  margin: 20px 0;
  padding: 0; 
  background-color: transparent; 
  border-radius: 0; 
  box-shadow: none; 
}

.calculator-form {
  display: flex;
  flex-direction: column;
}

.calculator-form label {
  margin-bottom: 15px;
  color: rgb(51, 4, 70); 
  font-weight: bold;
}

input[type="number"] {
  padding: 8px;
  border: 1px solid #b39ddb; 
  border-radius: 10px; 
}

.purchase-price-input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #8e44ad;
  background-color: #f4f0fa; 
  font-size: 1rem;
  color: #4a148c;

  text-align: center; 
  display: flex; 
  align-items: center; 
}

.purchase-price-input::placeholder {
  color: #8e44ad; 
  opacity: 1; 
}

input[type="checkbox"] {
  margin-right: 5px;
  border-radius: 5px; 
}

.additional-dwelling-section,
.first-time-buyer-section {
  margin-bottom: 20px;
}

.toggle-button-group {
  display: flex;
  gap: 10px; 
}

.toggle-button {
  padding: 10px 20px;
  border: 2px solid #8e44ad; 
  background-color: #f4f0fa; 
  color: #4a148c; 
  cursor: pointer;
  border-radius: 4px; 
  font-size: 1rem;
  flex: 1; 
  transition: background-color 0.3s ease; 
  font-weight: bold;
}

.toggle-button.active {
  background-color: #8e44ad; 
  color: #ffffff; 
}

.toggle-button:hover {
  background-color: #b39ddb; 
}

button {
  margin-top: 20px;
  padding: 15px;
  background-color: #8e44ad; 
  color: white;
  border: none;
  border-radius: 8px; 
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%; 
}

button:hover {
  background-color: #673ab7; 
}

.error-message {
  color: #b71c1c; 
  margin-top: 10px;
  border-radius: 5px; 
}

.app-footer {
  text-align: center;
  padding: 10px;
  background-color: #f3e5f5; 
  color: rgb(51, 4, 70);
  border-radius: 0 0 15px 15px; 
  position: relative;
  bottom: 0;
  width: 100%;
}

.calculate-button {
  margin-top: 20px;
  padding: 15px;
  background-color: #8e44ad; 
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%; 
  text-decoration: none; 
}

.calculate-button:hover {
  text-decoration: underline; 
  background-color: #8e44ad; 
}
