.app-container {
  max-width: 1200px; /* Increase the container width to accommodate both the calculator and results */
  margin: 0 auto;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

/* Introductory Section */
.intro-section {
  background-color: transparent;
  padding-bottom: 2px;
}

.intro-header {
  color: rgb(51, 4, 70);
  text-align: left;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro-text {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(51, 4, 70);
  margin-bottom: 5px;
}

.intro-text a {
  color: #4a148c;
  text-decoration: underline;
}

.intro-text a:hover {
  color: #8e44ad;
  text-decoration: none;
}

/* Property Transactions Section */
.property-transactions-section {
  margin-bottom: 20px;
}

.property-transactions-section h2 {
  color: rgb(51, 4, 70);
  font-weight: bold;
}

/* Calculator and Results Section Container */
.calculator-and-results-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Adjust the space between calculator and results sections */
  margin-top: 20px;
}

/* Calculator Section */
.calculator-section {
  flex: 1; /* Make sure the calculator section takes equal space alongside the results */
}

.calculator-container {
  background-color: #f3e5f5;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator-form {
  display: flex;
  flex-direction: column;
}

.calculator-form label {
  margin-bottom: 15px;
  color: rgb(51, 4, 70);
  font-weight: bold;
}

.purchase-price-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #8e44ad;
  background-color: #f4f0fa;
  font-size: 1rem;
  color: #4a148c;
  text-align: center;
}

.additional-dwelling-section,
.first-time-buyer-section {
  margin-bottom: 20px;
}

.toggle-button-group {
  display: flex;
  gap: 10px;
}

.toggle-button {
  padding: 10px 20px;
  border: 2px solid #8e44ad;
  background-color: #f4f0fa;
  color: #4a148c;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  flex: 1;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.toggle-button.active {
  background-color: #8e44ad;
  color: #ffffff;
}

.toggle-button:hover {
  background-color: #b39ddb;
}

.calculate-button {
  margin-top: 20px;
  padding: 15px;
  background-color: #8e44ad;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

.calculate-button:hover {
  text-decoration: underline;
}

/* Results Section */
.results-container {
  flex: 1;
  background-color: #ddf6f3; 
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 40px;
}

.results-container h3 {
  color: #010f0d; 
  font-weight: bold;
  margin-bottom: 15px;
  text-align: left;
  font-size: 1.2rem;
}

.results-container p {
  font-size: 1rem;
  color: #010f0d; 
  background-color: rgb(228, 228, 228); 
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  border: 1px solid #b0bec5; 
}

.results-container .results-item {
  font-weight: bold;
  margin-top: 10px;
  color: #010f0d; 
}
.reset-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color:  transparent; 
  color: #010f0d;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: normal; 
  cursor: pointer;
  transition: font-weight 0.3s ease; 
  text-decoration: underline; 
}

.reset-button:hover {
  font-weight: bold; 
}


.error-message {
  color: #b71c1c;
  margin-top: 10px;
  border-radius: 5px;
}


.app-footer {
  text-align: center;
  padding: 10px;
  background-color: #f3e5f5;
  color: rgb(51, 4, 70);
  border-radius: 0 0 15px 15px;
  margin-top: 20px;
}
